.msg {
  display: flex;
  padding: 0px 10px 0 20px;
  margin: 10px;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center;
}

.sent {
  background-color: #85e14b;
  color: black;
  border-top-right-radius: 50px;
  flex-direction: row-reverse;
  padding: 20px 20px 0 10px;
  /*text-align: end;*/
  float: right;
  max-width: 80%;
}

.received {
  background-color: #fafafa;
  border-top-left-radius: 50px;
  float: left;
  max-width: 80%;
}

.msgs {
  display: flex;
  flex-direction: column;
}

.sendMsg {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 80px;
  z-index: 3;
  margin-top: 20px;
  padding-bottom: 5px;
  background-color: #00000000;
}

@media (max-width: 775px) {
  .sent {
    padding: 10px 10px 0 10px;
  }
  .received {
    padding: 10px 10px 0 10px;
  }
}

@media (max-width: 500px) {
  .sent {
    padding: 0 16px 0 24px;
  }
  .received {
    padding: 0 16px 0 24px;
  }
}